<div class="parent">
  <header id="header">
    Scroll up and down to see the magic!
  </header>

  <section>
    <article *ngFor="let i of [1,2,3,4,5,6,7,8,9]">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed volutpat magna id urna finibus, sollicitudin facilisis
      sem suscipit. Aenean sollicitudin dolor a libero mollis imperdiet. Praesent scelerisque euismod risus ac pulvinar.
      In vel nunc dapibus, eleifend ligula in, finibus risus. Maecenas sed nisi eu elit posuere semper. Sed imperdiet a
      odio sollicitudin euismod. Cras ut enim rutrum, venenatis velit ac, condimentum arcu. Pellentesque eget nulla
      maximus sapien interdum commodo. Praesent iaculis, ipsum in volutpat convallis, ligula erat feugiat metus, sit amet
      volutpat quam erat a risus. Curabitur rhoncus pharetra urna, tempus posuere libero fringilla dictum. Cras bibendum,
      turpis eu tincidunt vehicula, leo sapien pharetra odio, a congue neque enim in ex. Morbi sed placerat libero.
    </article>
  </section>
</div>